In [ ]:
#1978
N = int(input())
case = list(map(int,input().split()))
count=0

def prime(num):
    if num == 1:
        return False
    elif num == 2:
        return True
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

for i in case:
    if prime(i):
        count +=1

print(count)  
# 소수 1보다 큰 자연수
# 소수는 약수가 딱 2개 존재 
# 2,3은 소수이다
# 모든 소수는 자연수 n에 대해 6n-1, 6n+1 / 역은 성립 x

In [ ]:
#2581
def prime(num):
    if num == 1:
        return False
    elif num == 2:
        return True
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

M = int(input())
N = int(input())
prime_list = []
for M in range(M,N+1):
    if prime(M):
        prime_list.append(M)
    else : 
        pass
if sum(prime_list)==0:
    print(-1)
else:
    print(sum(prime_list))
    print(min(prime_list))

60
100
620
61

In [ ]:
#1929
def prime(num):
    if num == 1 :
        return False
    elif num == 2 :
        return True
    for i in range(2,int(num**(1/2))+1) :
        if num % i == 0 :
            return False
    else : return True

M, N = map(int, input().split())

for M in range(M,N+1):
    if prime(M):
        print(M)

13 26
13
17
19
23

In [ ]:
#4948 
#에라토스테네스의 체

def prime_list(n):
    sieve = [True]*n

    for i in range(2, int(n**(1/2))+1):
        if sieve[i] == True :
            for j in range(i+i, n, i):
                sieve[j] = False
    
    return [i for i in range(1,n) if sieve[i] == True]

while True:
    n = int(input())
    prime = prime_list(2*n)

    if n == 0 : break
    elif n == 1 : print(1)
    else : print(len([i for i in prime if i>n]))

In [ ]:
#9020
def Goldbach(num):
    sieve = [True]*num

    for i in range(2, int(num**(1/2))+1):
        if sieve[i] == True :
            for j in range(i+i, num, i):
                sieve[j] = False
    prime_list = [i for i in range(2,num) if sieve[i]==True]
    
    #combination
    bach_list = []

    for i in prime_list: 
        for j in prime_list:
            if i+j == num:
                bach_list.append([i,j])
    bach_list_len = len(bach_list)//2

    return bach_list[bach_list_len]

case = int(input())
for i in range(0,case):
    n = int(input())

    if n % 2 == 1 : 
        pass 
    else : 
        Goldbach_comb = Goldbach(n)
        print(Goldbach_comb[1],Goldbach_comb[0])

3
8
3 5
10
5 5
16
5 11

In [ ]:
#9020
def Goldbach(num):
    sieve = [True]*num

    for i in range(2, int(num**(1/2))+1):
        if sieve[i] == True :
            for j in range(i+i, num, i):
                sieve[j] = False
    prime_list = [i for i in range(2,num) if sieve[i]==True]
    
    idx = max([i for i in range(len(prime_list)) if prime_list[i]<=num//2])
 
    for i in range(idx,-1,-1):
        for j in range(idx,len(prime_list)):
            if prime_list[i]+prime_list[j]==num:
                return prime_list[i],prime_list[j]
    #combination
    
case = int(input())
for i in range(0,case):
    n = int(input())
    Goldbach_comb = Goldbach(n)
    print(Goldbach_comb[0],Goldbach_comb[1])

3
8
3 5
10
5 5
16
5 11

In [ ]:
#1085 
x, y, w, h = map(int,input().split())
 
 
if x >= w-x : 
    min_x_len = w-x
else : min_x_len = x
 
if y >= h-y : 
    min_y_len = h-y 
else : min_y_len = y

print(min_x_len) if min_x_len < min_y_len else print(min_y_len)

6 2 10 3
1

In [ ]:
#3009
x_=[]
y_=[]

for i in range(1,4):
    x, y = map(int,input().split())
    x_.append(x)
    y_.append(y)

for i in range(3):
    if x_.count(x_[i])==1:
        x_4 = x_[i]
    if y_.count(y_[i])==1:
        y_4 = y_[i]
print(x_4,y_4)

30 20
10 10
10 20
30 10

In [ ]:
#4153
def Pythagorean(list):
    idx = sorted(list)
    
    max_2 = idx[2]*idx[2]
    median_2 = idx[1]*idx[1]
    min_2 = idx[0]*idx[0]

    if max_2 == median_2 + min_2 : 
        return 'right'
    else : return 'wrong'

while True:
    line = list(map(int,input().split()))
    if sum(line)==0 : 
        break
    else: print(Pythagorean(line))

10 8 6
right
0 0 0

In [ ]:
#3053
import math 
def circle(num):
    area = num*num*math.pi
    return area

n = int(input())
print(circle(n))
print(2*n*n)

1
3.141592653589793
2

In [ ]:
t = int(input())
for i in range(t):
    x1, y1, r1, x2, y2, r2 = map(int, input().split())
    d = ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5
    rs = r1 + r2
    rm = abs(r1 - r2)
    if d == 0:
        if r1 == r2:
            print(-1)
        else:
            print(0)
    else:
        if d == rs or d == rm:
            print(1)
        elif d < rs and d > rm:
            print(2)
        else:
            print(0)

1
1 1 1 1 1 5
0
0 0 13 40 0 37
0